@import '../styles/variables.scss';

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $navbar-height;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;

    .navbar__logo {
      img {
        width: 7rem;
        margin: 1rem;
      }
    }

    .navbar__auth {
      button {
        @include btn;
      }
    }
  }
}
