$navbar-height: 7rem;
$client-colour: rgb(0, 0, 80);
$provider-colour: rgb(110, 0, 0);

@mixin btn {
  cursor: pointer;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 500;
  padding: 0.6rem;
  margin: 1rem;
  width: 12rem;
  border-radius: 50vw;

  &:hover {
    color: whitesmoke;
    background-color: black;
  }
}
